@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital@0;1&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    height: 100vh;
    background-color: black;
    color: white;
}
strong {
    color: #22D4FD;
}

.titulo-destaque {
    color: #22D4FD;
}

.apresentacao {
    margin: 10% 20%;
    display: flex;  
    align-items: center;
    justify-content: space-between;
}

.apresentacao__conteudo {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.apresentacao__conteudo_titulo {
    font-size: 36px;
    font-family: "Krona One", sans-serif;
}

.apresentacao__conteudo_paragrafo {
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
}

.apresentacao__botoes {
    margin: 10px;
    display: flex;
    align-items: center;
   gap: 10px;
    
}

.apresentacao__botoes__link {
    background-color: #22D4FD;
    width: 280px;
    text-align: center;
    padding : 21.5px 0;
    border-radius: 16px;
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
    color: white;
}